<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- load properties file -->
    <context:property-placeholder location="classpath:post.properties"/>

    <!-- Used for inversion of control examples -->
    <bean id="myCar" class="lt.iocdoixmlconfiguration.inversionofcontrol.Car"></bean>
    <bean id="myTruck" class="lt.iocdoixmlconfiguration.inversionofcontrol.Truck"></bean>



    <!-- Used for dependency of injection examples with constructor -->
    <!-- dependency -->
    <bean id="myBlogger" class="lt.iocdoixmlconfiguration.dependencyofinjection.constructor.Blogger"></bean>

    <bean id="myPost" class="lt.iocdoixmlconfiguration.dependencyofinjection.constructor.BlogPost">
        <!-- constructor injection -->
        <constructor-arg ref="myBlogger"/>
    </bean>



    <!-- Used for dependency of injection examples with setter -->
    <!-- dependency -->
    <bean id="myBlogger2" class="lt.iocdoixmlconfiguration.dependencyofinjection.setter.Blogger"></bean>

    <bean id="myPost2" class="lt.iocdoixmlconfiguration.dependencyofinjection.setter.BlogPost">
        <!-- setter injection -->
        <property name="blogger" ref="myBlogger2" />
        <property name="title"  value="${post.title}" />
    </bean>
</beans>
